#h1 {position:absolute; left:33%}


#hoff_style {position:absolute; 
            left: 475px;
            top:120px
        
        
        }

#p1 {position: absolute; top: 420px; background-color: aquamarine;}