.name {color: white; position: relative; right: -10%;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', }

.top {background-color: #333; overflow: hidden;}

#body {background-color: beige;}

#head_shot {position:absolute; 
            right:25px;
            top: 25px;
        
        
        }

#p1 {position: absolute; top: 420px; background-color: aquamarine;}